body {
    margin: 0px;
}

body, select {
    font-family: Lato,sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 1.75em;
}

img {
    margin: 4px 4px 0px;
}

h1 {
    font-size: 1.75em;
    color: #348899;
}

#aside {
    background: #343642;
    color: #cce1e6;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 495px;
    right: 0;
}

header {
    padding: 3em;
    padding-top: 0em;
    padding-bottom: 1em;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 2em;
    padding-left: 0.5em;
}

fieldset {
    border: none;
}

input[type="radio"] {
    display: none;
}

select {
    border-radius: 5px;
    border: 2px solid #e4e4e4;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 90%;
    margin: 1em auto;
    height: 2.75em;
}

button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.icons {
    margin: 0px;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0px;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

.flex {
    display: flex;
}

.icon {
  width: 30px;
  height: 30px;
  stroke: #93D8E5;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.icon:hover, .icon:focus, .icon:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  stroke: #348899;
}

.icon:hover {
    transition: stroke .15s ease-in;
}

.icon:active {
    stroke: #235B66;
}

.right {
    text-align: right;
    margin-right: -6em;
}

.locale {
    height: 100px;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.cleft {
    float: left;
    width: 40%;
}

.ccenter {
    display: inline-block;
    width: 40%;
}

.cright {
    float: right;
    width: 20%;
}


nav {
    width: 90%;
    margin: 0 auto;
}

.cright > button {
    display: block;
    padding-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    line-height: 2em;
}

#map {
    max-width: 20em;
    padding: 0;
    padding-top: 1em;
    margin: 0 auto;
}

.zoombox {
    display: grid;
    height: 100vh;
    background-image: url(static/grain.png);
    background-size: auto, 100% 100%;
}

.zoom {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    box-shadow: 1px 1px 0 rgba(255,255,255,0.1) inset, 0 0 1px rgba(0,0,0,0.5), 0 0 20px rgba(0,0,0,0.5);
}

.control {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    z-index: 2;
}

.blur {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}
