body {
    margin: 0px;
}

body, select, input, textarea {
    font-family: Lato,Mali,sans-serif;
    font-weight: 400;
    font-size: 12pt;
    line-hight: 1.25em;
}

img {
    margin: 4px 4px 0px;
}

h1 {
    font-size: 1.75em;
    color: #348899;
}

/* Phone only */
@media (max-width: 599px) {
}
/* Tablet portrait down */
@media (max-width: 899px) {
    #aside {
        visibility: hidden;
        opacity: 0;
        width: 500px;
        transition: display 0s 0.5s, opacity 0.5s linear;
    }
    #title {
        display: block;
    }
    #gallery {
        margin-top: 44px;
    }
}
/* Tablet landscape up */
@media (min-width: 900px) {
    #aside {
        width: 290px;
        display: inherit;
    }
    #title {
        display: none;
    }
    header {
        padding: 1em!important;
    }
    .right {
        margin-right: -0.5em!important;
    }
    .middle {
        width: 80%!important;
    }
}
/* Desktop up */
@media (min-width: 1200px) {
    #aside {
        width: 370px;
        display: inherit;
    }
    .middle {
        width: 60%!important;
    }
    header {
        padding: 1.5em!important;
    }
    .right {
        margin-right: -1em!important;
    }

}
/* Big Desktop up */
@media (min-width: 1800px) {
    #aside {
        width: 495px;
        display: inherit;
    }
}

/* Height captures for aside */
@media (max-height: 770px) {
    nav {
        padding-top: 10vh;
    }
    .locale {
        padding-top: 5vh;
    }
    #map {
        display: none;
    }
}

@media (max-height: 840px) {
    header > h1 {
        display: none;
    }
}

@media (max-height: 890px) {
    .quote {
        display: none;
    }
}

@media (min-height: 1040px) {
    body {
        font-size: 14pt!important;
        line-hight: 1.5em!important;
    }
    .locale {
        height: 4em!important;
    }
}

@media (min-height: 1130px) {
    body {
        font-size: 16pt!important;
        line-height: 1.75em!important;
    }
    .locale {
        height: 5em!important;
    }
}

#aside {
    background: #343642;
    color: #cce1e6;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
}

#aside.show-aside {
    margin-top: 44px;
    visibility: visible;
    opacity: 1;
    margin-bottom: 10px;
}

#aside.show-aside footer {
    padding-bottom: 3.5em;
}

header {
    padding: 3em;
    padding-top: 0em;
    padding-bottom: 1em;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 2em;
    padding-left: 0.5em;
}

fieldset {
    border: none;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

input[type="email"], input[type="text"], textarea {
    -webkit-appearance: none;
    display: block;
    width: 90%;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(228, 228, 228);
    border-image: initial;
    outline: 0px;
    padding: 0px 1em;
    text-decoration: none;
    margin: 1em auto;
}

input[type="email"], input[type="text"] {
    height: 2.75em;
}

input[type="submit"] {
    -webkit-appearance: none;
    background-color: rgb(52, 136, 153);
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 2.75em;
    text-align: center;
    color: rgb(255, 255, 255) !important;
    transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
    border-radius: 5px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 0px 1.5em;
    text-decoration: none;
}

input[type="submit"]:hover {
    background-color: rgb(165, 165, 165);
    color: rgb(255, 255, 255) !important;
}

input[type="submit"]:active {
    background-color: rgb(157, 197, 205);
}

.center {
    text-align: center;
}

textarea {
    padding: 0.75em 1em;
    resize: none;
}

form {
    padding-top: 0.3em;
}

#verify {
    display: inline-block;
    width: 200px;
    float: right;
    margin-top: 0;
}

.img-verify {
    padding: 1.2em;
    padding-top: 0.5em;
}

select {
    border-radius: 5px;
    border: 2px solid #e4e4e4;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 90%;
    margin: 1em 0;
    height: 2.75em;
}

button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.icons {
    margin: 0px;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0px;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

.flex {
    display: flex;
}

.icon {
  width: 30px;
  height: 30px;
  stroke: #93D8E5;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  cursor: pointer;
}

.icon:hover, .icon:focus, .icon:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  stroke: #348899;
}

.icon:hover {
    transition: stroke .15s ease-in;
}

.icon:active {
    stroke: #235B66;
}

.right {
    padding-top: 0.5em;
    text-align: right;
    margin-right: -2em;
    font-size: smaller;
}

.locale {
    height: 3em;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.middle {
    width: 40%;
    margin: 0 auto;
}

nav {
    width: 90%;
    margin: 0 auto;
    padding-left: 10%;
}

.cright > button {
    display: block;
    padding-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    line-height: 2em;
}

label > .icon {
    padding-right: 10px;
}

#gallery {
    padding-bottom: 4px;
}

#map {
    max-width: 20em;
    padding: 0;
    padding-top: 1em;
    margin: 0 auto;
}

#title {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10;
    height: 44px;
    margin: 0 auto;
    background: #282A33;
    color: #cce1e6;
    padding: 0em;
    padding-left: 1em;
}

.burger {
    background: #343642;
    float: right;
    overflow: hidden;
    height: 44px;
}

.burger label {
    padding-left: 10px;
}

.zoombox, .modal-cover {
    display: grid;
    height: 100vh;
    background-image: url(static/grain.png);
    background-size: auto, 100% 100%;
}

.zoom {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    box-shadow: 1px 1px 0 rgba(255,255,255,0.1) inset, 0 0 1px rgba(0,0,0,0.5), 0 0 20px rgba(0,0,0,0.5);
}

.control {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    z-index: 2;
}

.control .icon {
    stroke: rgba(255,255,255,0.7);
    -webkit-filter: drop-shadow( 5px 5px 5px #000 );
    filter: drop-shadow( 5px 5px 5px #000 );
}

.control .icon:hover, .control .icon:focus, .control .icon:active {
    stroke: rgba(255,255,255,0.9);
}


.desc-off .icon, .control .icon:active {
    stroke: rgba(100,100,100,0.9);
}

.blur {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}

.modal-cover {
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.modal-cover.none {
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 550px;
    margin-top: -200px; /* Half the height */
    margin-left: -275px; /* Half the width */
    max-width: 100%;
    max-height: 100%;
    z-index: 100;
    background: white;
    border: 1px solid #ccc;
    transition: 0.5s ease-out;
    box-shadow: -2rem 2rem 2rem rgba(52, 136, 153, 0.4);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    padding: 15px 30px;
    border-radius: 8px;
}

.modal.off {
  opacity: 0;
  visibility: hidden;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(52, 136, 153, 0.4);
}

@media (prefers-reduced-motion) {
  .modal {
    offset-path: none;
  }
}

.close {
    position: fixed;
    top: 5px;
    right: 0;
}

.description {
    position: fixed;
    left: 50px;
    bottom: 40px;
    color: #fff;
    font-size: 20pt;
    -webkit-text-stroke: 1px #555;
    text-stroke: 1px #555;
    text-shadow: 0px 5px 5px #555;
    max-width: 60%;
    line-height: 1.2em;
    font-weight: 600;
}

.description-button {
    position: fixed;
    top: 10px;
    right: 40px;
}

.description-button .icon {
    width: 20px;
    height: 20px;
}

.next, .previous {
    position: fixed;
    top: 50%;
}

.next {
    right: 0;
}

.previous {
    left: 0;
}

.next > .icon {
    width: 60px;
    height: 60px;
}

.previous > .icon {
    width: 60px;
    height: 60px;
}

